<nav class="navbar navbar-expand-sm bg-secondary">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <button class="btnhome"><i class="fa fa-home" aria-hidden="true"></i> Home</button>
    </li>
  </ul>
  <div class = "user">
    <span class = "username"></span>
    <button class="btnhome">
      <i class="far fa-user-circle"></i>
    </button>
    
  </div>

</nav>
<div class="jumbotron">
  <h1 class="display-4 text-centrer">Book Management</h1>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <app-book-details-form> </app-book-details-form>
    </div>
    <div class="col-md-8">
      <app-book-details-list> </app-book-details-list>
    </div>
  </div>
</div>
